<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar>
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>

  </div>
</md-toolbar>

<md-tab-group>
    <md-tab label="Supplement Studies">
        <md-accordion>
            <md-expansion-panel [expanded]="true">
                <md-expansion-panel-header>
                    <md-panel-title>Green Tea Studies</md-panel-title>
                </md-expansion-panel-header>
                <md-list>
                    <table class="table">
                        <thead>
                            <th>#</th><th>Dose (mg/day)</th><th>Duration</th><th>Result (vs Placebo)</th><th>Study</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let study of studies.GREEN_TEA; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{study.dose}}</td>
                                <td>{{study.time}}</td>
                                <td>{{study.result}}</td>
                                <td><a href="{{study.link}}" target="_blank">link</a></td>
                            </tr>
                        </tbody>
                    </table>
                </md-list>
            </md-expansion-panel>

        </md-accordion>
        <md-accordion>
            <md-expansion-panel [expanded]="true">
                <md-expansion-panel-header>
                    <md-panel-title>EGCG Studies</md-panel-title>
                </md-expansion-panel-header>
                <md-list>
                    <md-list-item *ngFor="let study of studies.EGCG;">
                        {{study.dose}} {{study.time}} {{study.result}} {{study.link}}
                    </md-list-item>
                </md-list>
            </md-expansion-panel>
        </md-accordion>
    </md-tab>
    <md-tab label="Diet">

    </md-tab>
</md-tab-group>
